{% if page.breadcrumb %}
  {% block breadcrumb %}
    <div class="page-breadcrumb">
      <div class="{{ container }} clearfix">
        {{ page.breadcrumb }}
      </div>
    </div>
  {% endblock %}
{% endif %}
